<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/all.min.css">
    <link rel="stylesheet" href="./style/style.css">
    <title>BURGER-MEAL</title>
</head>
<body>
    
    <nav>
        <div class="container">
            <div class="navbar">
                <div class="navbar__box">
                    <ul class="list">
                        <li><a href="./index.html" class="navbar__link">Home</a></li>
                        <li><a href="./admin/index.html" class="navbar__link">Order</a></li>
                        <li><a href="" class="navbar__link">Promotion</a></li>
                    </ul>
                </div>
                <div class="navbar__box">
                    <li><a href="" class="navbar__logo">Burger Meal</a></li>
                </div>
                <div class="navbar__box">
                    <ul class="list">
                        <li><a href="" class="navbar__link"><i class="fal fa-search"></i></a></li>
                        <li><a href="" class="navbar__link"><i class="fal fa-heart"></i></a></li>
                        <li><a href="" class="navbar__link"><i class="fal fa-shopping-basket"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
<header>
    <div class="header__head">
        <div class="container">
            <div class="header__boxes">

            <div class="header__text">

                <h1 class="head__title">ORDER FOOD TO YOUR DOOR</h1>

                <div class="header__titles">

                    <h4 class="head__nexttitle">Find your favorite dish</h4>
                    <p class="head__text">Discover culinary delights and find your favourite dish with our swift and savary food delivery service</p>

                    <a href="./admin/index.html" class="button__btn">Explore Manu</a>
                </div>
                </div>

               

                <div class="head__texts">
                    <h3 class="head__nexttext">12K+</h3>
 
                    <p class="head__text head__texturee">Users using our Services</p>
               
                    <p class="head__text head__texture ">With oder meal, get your food delivered to your doorstep within an hour!</p>
               
            </div>
            <div class="header__text"></div>
        </div></div>
    </div>
</header>

<main>
    <div class="container">
    <div class="appmanager">
        <div class="app__box">
            <div class="app__managapp">
            <h3 class="app__title">Get your food in less than an hour</h3>
            <p class="app__text">Craving delicious meal without the hassle of cooking or leaving your home? Look no further than Burger Meal, your go to food delivery app for satisfying your cravings with a few taps</p>
            <a href="./admin/index.html" class="dark__btn">Explore Manu</a>
        </div></div>
        <div class="app__box">
            <div class="app__iteam">
            <h3 class="app__number">01</h3>
            <h3 class="app__nexttitle">Download the app</h3>
            <p class="app__text4">Download the Burger Meal App and order your food online to get the fastest delivery.</p>

            <a href="#!" class="app__link">Download Now</a>
        </div>
        <div class="app__image"></div>

        </div>
        <div class="app__box">
            <div class="app__iteam">
            <h3 class="app__number">02</h3>
            <h3 class="app__nexttitle">Select your food</h3>
            <p class="app__text4">Select food you want from thousands of restaurants</p>
            <h3 class="app__number">03</h3>
            <h3 class="app__nexttitle">Confirm your order</h3>
            <p class="app__text4">Select food you want from thousands of restaurants</p>
        </div>
        <div class="app__image2"></div>
        </div>
    </div>
</div>

<section>
    <div class="section__main">
        <div class="container">
            <div class="header__boxes">

                <div class="header__text">
    
                    <h1 class="head__title">8 BURGERS+ FRENCH FRIES</h1>
    
                    <div class="header__titles">
    
                       
                        <p class="head__text" style="width: 300px; text-transform: none;" >100% Grass-fed beef patty, cheddai cheese, special souce, tomato, pickles, lettuce, sesame seed bun</p>
    
                        <a href="./admin/index.html" class="button__btn" style="margin-top: 100px;">Explore Manu</a>
                    </div>
                    </div>
        </div>
        </div>
    </div>
</section>
<section>
    <h2 class="section__title">see todays best deal !!!</h2>

    <div class="meal__box">
        <div class="meal__iteam"><img src="../images/burgerbin1.jpg" alt="" class="meal__iteamimg"></div>
        <div class="meal__iteam"><img src="../images/burgerbin2.jpg" alt="" class="meal__iteamimg"></div>
        <div class="meal__iteam"><img src="../images/burgerbin3.jpg" alt="" class="meal__iteamimg"></div>
        <div class="meal__iteam"><img src="../images/burgerbin4.jpg" alt="" class="meal__iteamimg"></div>
        <div class="meal__iteam"><img src="../images/burgerbin5.webp" alt="" class="meal__iteamimg"></div>
        <div class="meal__iteam"><img src="../images/burgerbin6.jpg" alt="" class="meal__iteamimg"></div>
    </div>
    <a href="./admin/index.html" class="dark__btn" style="margin: 0 auto;">Explore Manu</a>
</section>

<section>
<div class="section3">
    <div class="container">
        <div class="appmanager">
            <div class="app__box">
                <div class="app__managapp">
                <h3 class="app__title" style="color: white;">PARTNER FOR SHARED SUCCESS</h3>
                <p class="app__text" style="color: white;">Join us as a partner and expand your reach in the culinary world. Showcase your delicious creations to broader oudience through our platform</p>
                <a href="./admin/index.html" class="dark__btn">Join Now</a>
            </div></div>
            <div class="app__box">
                <div class="app__sectioniteam">
                
                <h3 class="app__nexttitle" style="color: white;">Got a Restaurant?</h3>
                <p class="app__text4" style="color: white; margin-bottom: 25px; width: 220px;">Join us as a partner and expand your reach in the culinary world. Showcase your delicious creations to broader oudience through our platform</p>
                 <div class="appsection__image"></div>
                <a href="#!" class="dark__btn" style="margin: -5px;">Read More</a>
            </div>
         
    
            </div>
            <div class="app__box">
                <div class="app__iteam">
                <div class="appsection__image2"></div>
                <h3 class="app__nexttitle" style="color: white;">Got a Bike or a Cycle?</h3>
                <p class="app__text4" style="color: white; margin-bottom: 25px;" >Turn your wheels into earnings by joining our team. Delivering with us is not just a job. </p>
               
               
                <a href="#!" class="dark__btn" >Read More</a>
            </div>
          
            </div>
        </div>
    </div>
</div>

</section>

<section>
    <div class="container">
        <div class="section4">
            
            <h2 class="section__title">Why we are best</h2>
            <div class="section4__box">
                <div class="section4__iteam">

                    <div class="section4__bin">
                        <h2 class="section4__title">01</h2>
                        <div class="section__bins"><h3 class="app__nexttitle">Wide culinary selection:</h3> 
                        <div class="app__text4">
                            Choose from a diverse range of culsines, ensuring there`s something for every craving
                        </div></div>
                    </div>

                    <div class="section4__bin"> 
                        <h2 class="section4__title">02</h2>
                        <div class="section__bins"><h3 class="app__nexttitle">Fast delivery:</h3> 
                        <div class="app__text4">
                            Choose from a diverse range of culsines, ensuring there`s something for every craving
                        </div></div>
                    </div>

                    <div class="section4__bin"> 
                        <h2 class="section4__title">03</h2>
                        <div class="section__bins"><h3 class="app__nexttitle">Exclusive deals:</h3> 
                        <div class="app__text4">
                            Choose from a diverse range of culsines, ensuring there`s something for every craving
                        </div></div>
                    </div>

                </div>
                <div class="section4__iteamimg">
                    <img src="../images/FINAL-smash-burgers-1-2.jpg" alt=""
                         class="section4__iteamimgs">
                </div>

                <div class="section4__iteam">

                    <div class="section4__bin"> 
                        <h2 class="section4__title">04</h2>
                        <div class="section__bins"><h3 class="app__nexttitle">Real-time tracking:</h3> 
                        <div class="app__text4">
                            Choose from a diverse range of culsines, ensuring there`s something for every craving
                        </div></div>
                    </div>

                    <div class="section4__bin">
                         <h2 class="section4__title">05</h2>
                        <div class="section__bins"><h3 class="app__nexttitle">24/7 support:</h3> 
                        <div class="app__text4">
                            Choose from a diverse range of culsines, ensuring there`s something for every craving
                        </div></div>
                    </div>

                    <div class="section4__bin"> 
                        <h2 class="section4__title">06</h2>
                        <div class="section__bins"><h3 class="app__nexttitle">Seamless ordering:</h3> 
                        <div class="app__text4">
                            Choose from a diverse range of culsines, ensuring there`s something for every craving
                        </div></div>
                    </div>

                </div>
            </div>
            <a href="./admin/index.html" class="dark__btn" style="margin: 30px auto;">Explore Manu</a>
        </div>
    </div>
</section>
</main>

<footer class="foter__bac">
    <div class="container">
        <div class="footerbar">
            <div class="navbar__box">
                <ul class="list">
                    <li><a href="./index.html" class="navbar__link footer__bar" style="color: white;">Home</a></li>
                    <li><a href="./admin/index.html" class="navbar__link footer__bar">Order</a></li>
                    <li><a href="" class="navbar__link footer__bar">Promotion</a></li>
                </ul>
            </div>
            <div class="navbar__box">
                <li><a href="" class="navbar__logo " style="color: white; margin-left: 30px;">Burger Meal</a></li>
            </div>
            <div class="navbar__box">
                <ul class="list">
                    <li><a href="" class="navbar__link footer__bar">Facebook</a></li>
                    <li><a href="" class="navbar__link footer__bar">Instagram</a></li>
                    <li><a href="" class="navbar__link footer__bar">Telegram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>